<!-- Footer Section -->
<footer class="bg-light text-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Về chúng tôi</h5>
                <p>Chúng tôi là một công ty tiên phong trong lĩnh vực thương mại điện tử, cung cấp các sản phẩm chất lượng cao với giá cả phải chăng.</p>
            </div>
            <div class="col-md-4">
                <h5>Liên hệ</h5>
                <ul class="list-unstyled">
                    <li><a href="mailto:contact@yourwebsite.com" class="text-white">Email: contact@yourwebsite.com</a></li>
                    <li><a href="tel:+1234567890" class="text-white">Điện thoại: +123 456 7890</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Theo dõi chúng tôi</h5>
                <ul class="list-unstyled d-flex">
                    <li><a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-3">
        <p>&copy; 2025 Công ty của bạn. Tất cả các quyền được bảo vệ.</p>
    </div>
</footer>
