<!DOCTYPE html>
<html lang="vi">
{{header}}
<link rel="stylesheet" href="/public/css/login.css">

<body>
  <div class="container-fluid login-container d-flex">
    <div class="login-form">
        <div class="welcome-text text-center" style="min-width: 300px;">ĐĂNG NHẬP</div>
        <form id="login-form" class="mt-4" method="POST">
        <div class="mb-3">
            <input type="text" id="username" name="username" class="form-control" placeholder="Tên đăng nhập" required />
        </div>
        <div class="mb-3">
            <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu" required />
        </div>
        <div class="d-grid mb-2">
            <button type="submit" class="btn btn-login">Đăng Nhập</button>
        </div>
        <div class="d-grid mb-2">
            <a href="/register" class="btn btn-register">Đăng Ký</a>
        </div>
        <div class="text-center">
            <a href="#" class="text-decoration-none text-muted">Quên mật khẩu?</a>
        </div>
        </form>

        <div class="divider">hoặc</div>
        <div class="text-center d-flex justify-content-center gap-3 mt-3">
        <a href="#" class="btn btn-outline-dark btn-icon">
            <i class="fab fa-google"></i>
        </a>
        <a href="#" class="btn btn-outline-dark btn-icon">
            <i class="fab fa-apple"></i>
        </a>
        <a href="#" class="btn btn-outline-dark btn-icon">
            <i class="fab fa-facebook-f"></i>
        </a>
        </div>
    </div>
  </div>
  <script src="/public/js/login.js"></script>
</body>
</html>
