<html lang="vi">
{{header}}
<link rel="stylesheet" href="/public/css/orders.css">
<body>
<div class="container my-5">
    <div class="orders-container">
        <h1 class="page-title fw-bold">Danh sách Đơn Hàng</h1>

        <div class="table-responsive">
            <table class="table align-middle text-center">
                <thead>
                    <tr>
                        <th><i class="fas fa-hashtag me-2"></i>ID đơn hàng</th>
                        <th><i class="fas fa-money-bill-wave me-2"></i>Tổng tiền</th>
                        <th><i class="fas fa-calendar-alt me-2"></i>Ngày đặt hàng</th>
                        <th><i class="fas fa-info-circle me-2"></i>Chi tiết</th>
                    </tr>
                </thead>
                <tbody id="ordersTableBody">
                    <!-- Dữ liệu sẽ render bằng JS -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="../public/js/orders.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
{{footer}}
</html>